:root {
    --cor-fundo: rgb(7, 15, 43);
    --cor-fundo-cabecalho: rgb(7, 15, 43);
    --cor-texto-cabeçalho: #1B1A55;
    --cor-texto: #9290C3;
    --cor-texto-strong: #535C91;
}

[data-contexto="pagina_principal"][modo="claro"] {
    background: #c4c4c4;
    background: radial-gradient(circle, rgba(196, 196, 196, 1) 0%, rgba(0, 0, 3, 1) 100%);
    color: black;
}

[data-contexto="sobre_mim"][modo="claro"] {
    background: #b5b3b3;
    background: linear-gradient(27deg, rgba(181, 179, 179, 1) 0%, rgba(175, 224, 121, 1) 33%, rgba(137, 137, 232, 1) 66%, rgba(186, 186, 186, 1) 100%);
    color: black;
}

[data-contexto="projetos"][modo="claro"] {
    background: #f76363;
    background: linear-gradient(180deg, rgba(247, 99, 99, 1) 0%, rgba(132, 142, 245, 1) 100%);
    color: black;
}

[data-contexto="pagina_principal"][modo="escuro"] {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 12%, rgba(61, 61, 61, 1) 100%);
    color: white;
}

[data-contexto="sobre_mim"][modo="escuro"] {
    background: #000000;
    background: linear-gradient(27deg, rgba(0, 0, 0, 1) 0%, rgba(13, 56, 13, 1) 33%, rgba(49, 41, 117, 1) 66%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

[data-contexto="projetos"][modo="escuro"] {
    background: linear-gradient(180deg, rgba(133, 0, 0, 1) 0%, rgba(0, 8, 125, 1) 100%);
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--background-image);
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#tela-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#tela-loading.escondido {
  opacity: 0;
  pointer-events: none;
}

a {
    text-decoration: none;
    color: #009b8e;
    size: 24px;
}

.fade-container {
    opacity: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.botao {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 5em;
    padding: 1%;
}

.circulo {
    display: flex;
    justify-content: center;
}

.botao_tema {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgb(7, 15, 43);
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease;
}

.escuro {
    background-image: url(../assets/lua.png);
    background-size: cover;
}

.claro {
    background-image: url(../assets/sol.png);
    background-size: cover;
}


.card_habilidade:hover {
  transform: scale(1.05);
}

.explicativo_claro_escuro {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cabecalho {
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 30;
    display: flex;
    padding: 0.8% 0;
    margin: 0 5%;
    justify-content: space-evenly;
    border: #b5bdc7 2.5px solid;
    background-color:rgba(142, 145, 148, 0.9);
    border-radius: 35px;
}

.botao_cabecalho {
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 5px;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    min-width: 150px; 
    text-align: center;
}

.botao_cabecalho:hover {
    transform: scale(1.1);
    background-color: rgba(10, 10, 10, 0.2);
}

.botao_cabecalho.ativo {
    background-color: #bfd2ec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    font-weight: bold;
}

.foto_perfil {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(12, 201, 69, 0.877);
    margin-bottom: 20px;
}

.foto_github {
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo_categoria {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 1%;
}

.bloco_texto {
    justify-content: center;
    padding: 3%;
    display: flex;
    text-align: center;
}

.grid_habilidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 1rem;
  margin-top: 20px;
}

.card_habilidade {
  text-align: center;
  background-color: rgba(88, 88, 88, 0.5);
  padding: 30px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease;
}

.card_habilidade:hover {
  transform: scale(1.05);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .titulo {
        font-size: 3.5em;
    }

    .titulo_categoria {
        font-size: 2.2em;
    }

    .bloco_texto {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .foto_perfil {
        width: 150px;
    }

    .cabecalho {
        margin: 3% 35%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 2.5em;
        text-align: center;
    }

    .titulo_categoria {
        font-size: 2em;
        text-align: center;
    }

    .foto_perfil {
        width: 120px;
    }

    .cabecalho {
        margin: 2% 15%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .botao_claro,
    .botao_escuro {
        height: 50px;
        width: 50px;
    }

    .lista_menu {
        width: 70%;
        top: 120%;
    }

    .lista_menu_item {
        height: 50px;
        font-size: 0.9em;
    }

    .progresso-container {
        padding: 10px;
    }
}